.dlg-wrapper, .dlg-wrapper-edit, .dlg-wrapper-prof, .dlg-wrapper-email, .dlg-wrapper-emailconfirm .dlg-wrapper-alert {
  /* display: none; */
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex; 
  justify-content: center;
  align-items: center;
}

.dlg-box, .dlg-box-edit, .dlg-box-prof, .dlg-box-email, .dlg-box-emailconfirm, .dlg-box-alert {
  /* display: none; */
  /* opacity: 0; */
  position: fixed;
  width: 480px;
  background-color: #e4dace;
  z-index: 10000;
  font-family: sans-serif;
  color: #444;
  font-size: 18px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

.dlg-box-prof {
  width: 300px;
}

.dlg-box-prof span {
  font-size: 0.9em
}

.dlg-box-prof input {
  width: 100%;
  margin-bottom: 3px;
}

.dlg-footer::selection, .dlg-footer .btn::selection {
  background-color:Transparent;
}

.dlg-header, .dlg-body {
  border-bottom: 1px solid #d4c7b6;
  padding: 10px;
}

.dlg-header {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px
}


.dlg-body-edit, .dlg-body, .dlg-body-transit {
  height: 130px;
  letter-spacing: 1px;
  padding: 10px;
  font-size: 15px
}

.dlg-box-prof .dlg-body {
  height: 330px
}

.dlg-body-edit div, .dlg-body div, .dlg-body-transit div {
  margin-bottom: 10px;
}

.dlg-body-edit select, .dlg-body-edit input,  .dlg-body select, .dlg-body input, .dlg-body-transit select, .dlg-body-transit input {
  height: 25px;
  padding: 3px;
  box-sizing: border-box;
}

.dlg-footer {
  border-top: 1px solid #d4c7b6;
  padding: 10px;
  float: right;
  flex: 1;
  flex-direction: row
}

.dlg-footer .btn {
  border: none;
  outline: none;
  text-decoration: none;
  display: inline-block;
  padding: 13px 18px;
  background-color: #329036;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.dlg-footer .btn_n {
  border: none;
  outline: none;
  display: inline-block;
  padding: 13px 18px;
  background-color: #329036;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin-left: 5px
}

.dlg-footer .btn:hover {
  background-color: #28862C
}

.dlg-footer .btn_n:hover {
  background-color: #28862C
}

.show_dialog {
  display: block;
}

.txt {
  color: #00f
}

#subject, #body {
  width: 100%
}

.marg .list-col {
  margin-right: 4px;
}

#change-pass-text {
  text-decoration: underline;
  cursor: pointer
}

@media screen and (max-width: 480px) {
  .dlg-box, .dlg-box-edit {
    width: 100%;
  }
  .dlg-body-edit, .dlg-body {
    padding: 3px
  }
}