html,
body {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f9f9f9; 
}

.container nav {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #444;
  clear: both;
}

nav ul {
  float: right;
  margin: 30px 48px 16px;
}

nav ul li {
  display: inline-block;
  padding-left: 32px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

nav ul li a:hover {
  color: #e78200;
}

@media screen and (max-width: 628px) {
  .logo {
    margin: 16px 0px 16px 10px;
  }

  nav ul {
    margin: 30px 10px 16px 0px;
  }
  
  nav ul li {
    padding-left: 10px;
  }
}